{% extends 'main/layout.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/mg-d.css' %}">
	<title>Educational platform</title>
{% endblock %}
{% block content %}
		<div class="wrap">
   		<h1>Educational platform</h1>
   		<div class="product">
   			<div class="fill">
    			<img src="{% static 'images/robotics.jpg' %}" width="100%" height="100%" alt="" />
				</div>
   			<div class="minifoot">
   				<div class="descc">
   					<p class="foottit"><b>Robotics Courses</b></p>
   					<p class="price">Free / Online or Offline</p>
   				</div>
   				<div class="button-buy">
					<form action="https://t.me/orrynbai">
						<button class="button-buys" >
   						Register
   					</button>
					</form>
   				</div>
   			</div>
   		</div>
        <div class="product">
   			<div class="fill">
    			<img src="{% static 'images/dance.jpg' %}" width="100%" height="100%" alt="" />
				</div>
   			<div class="minifoot">
   				<div class="descc">
   					<p class="foottit"><b>Dance Courses</b></p>
   					<p class="price">Free</p>
   				</div>
   				<div class="button-buy">
					<form action="https://t.me/orrynbai">
						<button class="button-buys" >
   						Register
   					</button>
					</form>
   				</div>
   			</div>
   		</div>
        <div class="product">
   			<div class="fill">
    			<img src="{% static 'images/singing.jpg' %}" width="100%" height="100%" alt="" />
				</div>
   			<div class="minifoot">
   				<div class="descc">
   					<p class="foottit"><b>Singing Courses</b></p>
   					<p class="price">5000 tg / Free for students under 20</p>
   				</div>
   				<div class="button-buy">
					<form action="https://t.me/orrynbai">
						<button class="button-buys" >
   						Register
   					</button>
					</form>
   				</div>
   			</div>
   		</div>
           <div class="product">
            <div class="fill">
             <img src="{% static 'images/arduino.png' %}" width="100%" height="100%" alt="" />
             </div>
            <div class="minifoot">
                <div class="descc">
                    <p class="foottit"><b>Arduino Course by Birge</b></p>
                    <p class="price">Free</p>
                </div>
                <div class="button-buy">
                 <form action="/education1">
                     <button class="button-buys" >
                        Read
                    </button>
                 </form>
                </div>
            </div>
        </div>
     <div class="product">
            <div class="fill">
             <img src="{% static 'images/esp32.jpg' %}" width="100%" height="100%" alt="" />
             </div>
            <div class="minifoot">
                <div class="descc">
                    <p class="foottit"><b>ESP32 Course by Birge</b></p>
                    <p class="price">Free</p>
                </div>
                <div class="button-buy">
                 <form action="/education2">
                     <button class="button-buys" >
                        Read
                    </button>
                 </form>
                </div>
            </div>
        </div>
     <div class="product">
            <div class="fill">
             <img src="{% static 'images/kit.png' %}" width="100%" height="80%" alt="" />
             </div>
            <div class="minifoot">
                <div class="descc">
                    <p class="foottit"><b>BirgeKit</b></p>
                    <p class="price">30 000 tg</p>
                </div>
                <div class="button-buy">
                 <form action="/education3">
                     <button class="button-buys" >
                        Read
                    </button>
                 </form>
                </div>
            </div>
        </div>
{% endblock %}