#sidebar.active {
  right: 0;
  overflow: auto;
}

#content{
    opacity: 0;
    transition: opacity .5s ease-in-out;
}


#sidebar {
  position: fixed;
  width: 300px;
  height: calc(100% - 80px);
  background: #fffcf4;
  right: -310px;
  transition: .4s;
  overflow: hidden;
  z-index: 4;
  top: 80px;
}

.table-container {
  width: 100%;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table-container td {
  padding: 10px;
  text-align: center;
}

.table-container .icon {
  font-size: 120%;
  margin-left: 40px;
}

.table-container .text {
  font-family: 'Inter', sans-serif;
  text-align: left;
  font-size: 120%;
}
.table-container .text a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;

}

#but i {
  transition: transform 0.3s ease-in-out;
}

#but i.fa-times {
  transform: rotate(90deg);
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0px;
  margin: 0px;
  background-color: #1C3880;
  height: 80px;
  z-index: 1;
  overflow: hidden;
}

.navbar-l {
  list-style: none;
}

.navbar-i {
  margin: 10px;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
}

#but {
  float: right;
  height: 30.4px;
  width: 30.4px;
  justify-content: center;
}

#but button{
  height: 30.4px; 
  width: 30.4px; 
  border: solid white; 
  border-radius: 5px; 
  background-color: #303404;
}

.navbar-i a{
  text-decoration: none;
  color: white;
}

#sidebar .table-container table tr{
  transition: 1s;
  border-radius: 30px;
}

#sidebar .table-container table tr:hover {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width:480px){

  .navbar {
    padding: 0px;
    margin: 0px;
    background-color: #1554b9;
    height: 60px;
    z-index: 1;
    overflow: hidden;}

  .navbar-l {
    list-style: none;
    padding-left: 5px;}

  .navbar-i {
    margin: 10px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 10px;}

  .table-container .icon {
    font-size: 45px;
    margin-left: 40px;}

  .table-container .text {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 45px;}

  #sidebar {
    position: fixed;
    width: 350px;
    height: calc(100% - 60px);
    background: #fffcf4;
    right: -360px;
    transition: .4s;
    overflow: hidden;
    z-index: 4;
    top: 60px;}

  .table-container .icon {
    font-size: 20px;
    margin-left: 40px;}

  .table-container .text {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 20px;}

  #but {
    margin-top: 2px;
    float: right;
    height: 30.4px;
    width: 30.4px;
    justify-content: center;}
}