body{
  margin: 0;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

#content{
  transition: .4s;
}

.searchTerm {
  width: 100%;
  border: 3px solid #303404;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: #303404;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #303404;
  background: #303404;
  text-align: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 90%;
  padding: 20px;
  float: left;
}

.shopcart{
  border: solid #303404;
  background-color: #303404;
  float: left;
  margin: 20px;
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.product{
  margin: 20px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 500px;
  width: 30%;
  background-color: lightgray;
  float: left;
  transition: .4s;
}

h1{
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin-bottom: 0px;
}

.minifoot{
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  height: 100px;
  width: 100%;
}

.foottit{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 2px;
}

.price{
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  padding-left: 20px;
  font-size: 17px;
  color: gray;
}

.descc{
  float: left;
}

body{
  overflow-x: hidden;
}

.wrap{
  padding-top: 0px;
}

.shopcart{
  margin-top: 0px;
}

.button-buys:hover{
  background-color: #947b31;
}

.button-buy{
  position: absolute;
  right: 20px;
}

.button-buys{
  border: none;
  border-radius: 5px;
  background-color: #FED65C;
  margin-top: 15px;
  margin-left: 40px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  transition: .5s;
}

#content.shrink{
  margin-right: 300px;
}

#content.shrink > .product{
  height: 400px;
}

#content{
  margin-top: 100px;
}

img{
  border-radius: 20px;
}

@media (max-width:480px){
  .wrap{
  width: 70%;
  padding: 10px;
  float: left;
}

#content.shrink{
  margin-right: 0px;
}

#content{
    margin-top:80px;
}
.product{
  margin: 10px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 300px;
  width: 90%;
  background-color: lightgray;
  float: left;
  transition: .4s;
}
#content.shrink > .product{
  height: 300px;
}
h1{
    font-size: 30px;
}
.button-buys{
  border: none;
  border-radius: 5px;
  background-color: #FED65C;
  margin-top: 15px;
  margin-left: 40px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  transition: .5s;
}
.shopcart{
  border: solid #1554b9;
  background-color: #1554b9;
  float: left;
  margin: 10px;
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.minifoot{
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  height: 100px;
  width: 100%;
}
.foottit{
    font-size: 15px;
}

}